
<%- include('./partials/head'); %>

<figure>
	<img src="<%= livro.imagem.url %>" alt="<%= livro.imagem.alt %>">
	<figcaption>Capa - <%= livro.titulo %>, <%= livro.autor %></figcaption>
</figure>

<section>
	<h1><%= livro.titulo %></h1>
	<h1><%= livro.autor %></h1>
	<h3><%= livro.ano_de_publicacao %></h3>
</section>

<%- include('./partials/foot'); %>